@import "tailwindcss";
body{
  background:rgb(0, 0, 0) 
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 2000ms ease-out;
}

button{
  /* background-color: rgb(21, 126, 207); */
}